In [28]:
import pandas as pd
data = {
    "Cities": ["Malmö","Stockholm", "Uppsala", "Göteborg", "Lidköping", "Hej"],
    "Population": [347949, 975551, 233839, 583056, 35000, 1000000]
}
df = pd.DataFrame(data)
df

      Cities  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056
4  Lidköping       35000
5        Hej     1000000

In [29]:
data_g = df[df["Cities"] == "Göteborg"]

data_g

     Cities  Population
3  Göteborg      583056

In [35]:
data_sort = df.sort_values(by="Population", ascending=False)

data_sort

      Cities  Population  Population %
5        Hej     1000000          9.63
1  Stockholm      975551          9.40
3   Göteborg      583056          5.62
0      Malmö      347949          3.35
2    Uppsala      233839          2.25
4  Lidköping       35000          0.34

In [36]:
data_sort[3:]

      Cities  Population  Population %
0      Malmö      347949          3.35
2    Uppsala      233839          2.25
4  Lidköping       35000          0.34

In [34]:
df['Population %'] = round((df['Population'] / 10379295) * 100, 2)

print(df)

      Cities  Population  Population %
0      Malmö      347949          3.35
1  Stockholm      975551          9.40
2    Uppsala      233839          2.25
3   Göteborg      583056          5.62
4  Lidköping       35000          0.34
5        Hej     1000000          9.63