### Uppgifter
Alla grafer ska exporteras till en undermapp som heter visualiseringar i ditt repo för labben. Exportera
matplotlib/seaborngrafer i png-format och plotly-grafer som html-filer. Ge relevanta namn till dina filer så det blir lätt att
referera till dem. Notera att du behöver ställa in bakgrundsfärg när du sparar matplotlibgrafer, annars blir de
transparenta och svåra att läsa.
Tänk på data storytelling, graferna du skapar ska ha lämpliga rubriker, labels, annoteringar, clutter ska tas bort, jobba
med attention mha färger mm

### Uppgift 0 - uppvärmning med riket
I den här uppgiften ska du visualisera med hjälp av matplotlib och/eller seaborn
  - a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena. Ändra kolumnnamnen på
       respektive dataframe så du får något liknande som nedan.
  - b) Ta reda på antalet som fått F i matematik totalt, pojkar respektive flickor.
  - c) Rita ett stapeldiagram på totala poängen för de olika ämnena.
  - d) Rita fyra olika stapeldiagram i subplots på totala poängen för de olika ämnena för de olika huvudmännen.
  - e) Rita ett stapeldiagram i subplots på totala poängen för de olika ämnena för de olika huvudmännen.
Uppgift 1 - uppvärmning betyg och prov
I uppgifterna nedan ska du använda dig av datasetet betyg_o_prov_riksnivå.xlsx. Använd Plotly för att rita diagrammen
nedan för de uppgifter som kräver diagram. Använd Pandas för att svara på frågor om datasetet.
  - a) Rita ett linjediagram för andel elever som saknar godkänt betyg i ett eller fler ämnen för läsår 18-23. Ta med totalt,
flickor och pojkar i samma graf.

In [14]:
import pandas as pd 

df_riks_2023 = pd.read_excel("../Labb2/data/riket2023_åk9_np.xlsx", skiprows=7)

df_riks_2023

,Unnamed: 0,Unnamed: 1,Antal elever med provbetyg A-F,Unnamed: 3,Unnamed: 4,Andel (%) med provbetyg A-E,Unnamed: 6,Unnamed: 7,Genomsnittlig betygspoäng,Unnamed: 9,Unnamed: 10
0,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
1,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
2,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
3,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
4,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2

In [53]:
df_riks_names = df_riks_2023.rename({"Unnamed: 0": "Plats", 
                                     "Unnamed: 1": "Huvudman", 
                                     "Antal elever med provbetyg A-F": "Totalt (A-F)", 
                                     "Unnamed: 3": "Flickor (A-F)", 
                                     "Unnamed: 4": "Killar (A-F)", 
                                     "Andel (%) med provbetyg A-E": "Totalt (A-E)", 
                                     "Unnamed: 6": "Flickor (A-E)", 
                                     "Unnamed: 7": "Killar (A-E)", 
                                     "Genomsnittlig betygspoäng": "Totalt (poäng)",
                                     "Unnamed: 9": "Flickor (poäng)",
                                     "Unnamed: 10": "Killar (poäng)"},
                                    axis=1)
df_riks_names

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Killar (A-F),Totalt (A-E),Flickor (A-E),Killar (A-E),Totalt (poäng),Flickor (poäng),Killar (poäng)
0,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
1,Riket,Samtliga,106941,51864,55077,97,97.1,97,15.7,15.8,15.7
2,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
3,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17,16.8
4,Riket,Skolverket,49,24,25,100,100,100,18.5,18.9,18.2

In [73]:
# Totalt antal flickor som fått F i matematik
flickor_F = (pd.to_numeric(df_riks_names['Flickor (A-F)'], errors='coerce') * 0.0029).sum()
print("Totalt antal flickor som fått F:", round(flickor_F))

# Totalt antal killar som fått F i matematik
killar_F = (pd.to_numeric(df_riks_names['Killar (A-F)'], errors='coerce') * 0.0030).sum()
print("Totalt antal killar som fått F:", round(killar_F))

Totalt antal flickor som fått F: 301
Totalt antal killar som fått F: 330